{% extends "base-with-sidebar.html" %}
{% load comments i18n markup media methods thumbnail %}

{% block main %}
  <div class="span-8">
  <h2 style="margin-top:80px">
    {{ profile.get_profile.name }} (<em>@{{ profile.username }}</em>)
  </h2>
  </div>
  <div class="span-8 last align-right"
       style="margin-bottom:0.5em;">
    {% if profile.get_profile.avatar %}
    <img class="profile-avatar"
         src="{% thumbnail profile.get_profile.avatar 100x100 %}" />
    {% endif %}
  </div>

  {% if methods %}
  <hr style="clear:both;" />
  <h2>{% trans "Methods" %}</h2>
  <ul id="method-index">
    {% for method in methods %}
    <li>
      {% if method.methodbonus_set.published %}
      <a href="{% url methods-show-bonus method.published_at.year method.published_at.month method.published_at.day method.slug %}">
        <img class="bonus-star"
             src="{% media_url "images/pedagogic-bonus-badge.png" %}" />
      </a>
      {% endif %}
      <h3>
        {% if method.is_draft %}
        <a href="{% url methods-edit-method method.slug %}">
          {{ method.title }}
        </a> (<em>{% trans "Draft" %}</em>)
        {% else %}
        <a href="{% url methods-show-method method.published_at.year method.published_at.month method.published_at.day method.slug %}">
          {{ method.title }}
        </a>
        {% endif %}
      </h3>

      {% if method.methodfile_set.all.0.image %}
      {% for m in method.methodfile_set.all %}
      {% if forloop.first %}
      <a class="method-thumb-zoom"
         href="{{ m.image.url }}"
         rel="thumb-group-{{ method.id }}">
        <img class="method-thumb"
             src="{% thumbnail m.image 48x48 crop %}"
             title="" />
      </a>
      {% else %}
      <a class="method-thumb-zoom"
         href="{{ m.image.url }}"
         rel="thumb-group-{{ method.id }}"></a>
      {% endif %}
      {% endfor %}
      {% endif %}

      {{ method.description|markdown:"autolink"|abstract }}

      {% get_comment_count for method as comment_count %}
      {% if comment_count %}
      <span><em>
        {% if method.is_published %}
        <a href="{% url methods-show-method method.published_at.year method.published_at.month method.published_at.day method.slug %}#comments">
        {% endif %}
        {% blocktrans count comment_count as cc %}
          1 comment.
          {% plural %}
          {{ cc }} comments.
        {% endblocktrans %}
        {% if method.is_published %}
        </a>
        {% endif %}
      </em></span>
      {% endif %}
      {% include "methods-meta.html" %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if bonuses %}
  <h2>{% trans "Bonuses" %}</h2>
  <ul id="method-index">
    {% for bonus in bonuses %}
    {% with bonus.method as method %}
    <li>
      <h3>
        {% if bonus.is_draft %}
        <a href="{% url methods-edit-bonus method.published_at.year method.published_at.month method.published_at.day method.slug bonus.id %}">
          {% blocktrans with method.title as method_title %}
          Bonus for <em>{{ method_title }}</em>
          {% endblocktrans %}
        </a> (<em>{% trans "Draft" %}</em>)
        {% else %}
        <a href="{% url methods-show-bonus method.published_at.year method.published_at.month method.published_at.day method.slug %}#bonus-{{ bonus.id }}">
          {% blocktrans with method.title as method_title %}
          Bonus for <em>{{ method_title }}</em>
          {% endblocktrans %}
        </a>
        {% endif %}
      </h3>

      {{ bonus.description|markdown:"autolink"|abstract }} (...)

      {% include "methods-bonus-meta.html" %}
      <hr />
    </li>
    {% endwith %}
    {% endfor %}
  </ul>
  {% endif %}

  {% if tips %}
  <div class="span-16 last">
    <h2>{% trans "Tips" %}</h2>
    <ul id="tips-list">
      {% for tip in tips %}
      <li class="span-16 last">
        <p>
          {{ tip.text }}
          {% if tip.user.id == request.user.id or request.user.is_superuser %}
          <span class="noprint">
            <a class="rounded-button rounded-6"
               href="{% url tips-edit-tip tip.id %}">{% trans "Edit tip?" %}</a>
          </span>
          {% endif %}
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endblock %}