{% extends "base-with-sidebar.html" %}
{% load i18n thumbnail %}
{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
    });
  </script>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block main %}
  <h2>{% trans "All users" %}</h2>

  {% if users %}
  <ul style="list-style-type: none;" class="span-18 last">
    {% for user in users %}
    <li class="span-18 last">
        <div class="span-2">
          {% if user.get_profile.avatar %}
          <img src="{% thumbnail user.get_profile.avatar 50x50 crop %}"
               style="border: 1px solid #999;"
               width="50" height="50" />
          {% endif %}
        </div>
        <div class="span-16 last">
          <h3>
            <a href="{% url user user.username %}">
              {{ user.get_profile.name }}
            </a>
          </h3>
          <p>{{ user.method_set.count }} methods created</p>
        </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}
