.DS_Store
*.pyc
*.pyo
.installed.cfg
.Python
/bin
/build
/develop-eggs
/dist
/downloads
/eggs
/include
/lib
/parts
/src
/methodiki/methodiki.db
/methodiki/media/avatars/
/methodiki/media/methods/
/methodiki/media/thumbnails/
/methodiki/whoosh/
/methodiki/locale/sv/LC_MESSAGES/django.mo

