.DS_Store
*.pyc
*.pyo
.installed.cfg
.Python
/bin
/develop-eggs
/dist
/downloads
/eggs
/include
/lib
/parts
/src
/methodiki/media/avatars/
/methodiki/media/methods/
/methodiki/media/thumbnails/
/methodiki/whoosh/

