django==1.2.3
django-autoslug
django-debug-toolbar
# django-haystack -- installed directly from trunk below
django-markitup
django-mediagenerator
django-taggit
django-taggit-templatetags
docutils
easy_thumbnails
gunicorn
markdown
mysql-python
pep8
PIL
python-memcached
simplejson
south
whoosh

-e git+http://github.com/toastdriven/django-haystack.git#egg=haystack

