{% extends "base-without-sidebar.html" %}
{% load comments i18n markup media methods thumbnail %}
{% block main %}
<div class="prepend-4 span-16 append-4 last">

  {% if not form.errors %}
  <ul id="comments" class="span-16 last"
      style="padding:0;list-style-type:none;">
    <li class="span-16 last append-bottom{% if form.cleaned_data.lift_method %} comment-thumbsup{% endif %}">
      <div class="span-1">
        {% if user.is_authenticated and user.get_profile.avatar %}
        <img class="profile"
             src="{% thumbnail user.get_profile.avatar 25x25 crop %}" />
        {% else %}
        <img class="profile"
             src="{% media_url "images/icons/001_54.png" %}" />
        {% endif %}
      </div>
      <div class="span-4">
        <h3 style="margin-bottom:0;margin-top:0;">
          {% if request.user.is_authenticated %}
          <a href="{% url user user.username %}">
            {% if user.get_profile.name %}
              {{ user.get_profile.name }}
            {% else %}
              {{ user_name }}
            {% endif %}
          </a>
          {% else %}
          {% if form.cleaned_data.url %}
          <a href="{{ form.cleaned_data.url }}">
            {{ form.cleaned_data.name }}
          </a>
          {% else %}
          {{ form.cleaned_data.name }}
          {% endif %}
          {% endif %}
        </h3>
        <a class="alt" href="#"
           style="font-style:italic;font-size:95%;">
          {% now "Y-m-d H:i" %}
        </a>
      </div>
      <div class="span-11 last">
        <div class="comment-counter">
          1
        </div>
        <div class="rounded-6 comment-body">
          {% if form.cleaned_data.lift_method %}
          <img style="float:left;margin-right:0.5em;"
               src="{% media_url "images/icons/001_18.png" %}"
               width="24" height="24" />
          {% endif %}
          {{ comment|markdown:"autolink" }}
        </div>
      </div>
    </li>
  </ul>
  {% endif %}

  <div class="inset rounded-9 span-16 last">
    {% if form.errors %}
    <h2>
      {% blocktrans count form.errors|length as counter %}
      Please correct the error below
      {% plural %}
      Please correct the errors below
      {% endblocktrans %}
    </h2>
    {% else %}
    <h2>
      {% trans "Preview your comment" %}
    </h2>
    {% endif %}

    {% include "methods-comment-form.html" %}

  </div>
</div>
{% endblock %}
