{% extends "base-with-sidebar.html" %}
{% load i18n markup methods %}

{% block main %}
  <h2>{% trans "Found the following methods..." %}</h2>

  <form method="get" action=".">
    {% if query %}
    <ul id="method-index" style="list-style-type: none;">
    {% for result in page.object_list %}
      {% with result.object as method %}
      <li>
        {% include "methods-listitem.html" %}
        {% include "methods-meta.html" %}
      </li>
      {% endwith %}
    {% empty %}
      <p>{% trans "Sorry, could not find any matching methods." %}</p>
    {% endfor %}
    </ul>
   
    {% if page.has_previous or page.has_next %}
      <div>
        {% if page.has_previous %}
        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">
        {% endif %}
          &laquo; {% trans "Previous" %}
        {% if page.has_previous %}</a>{% endif %}
        |
        {% if page.has_next %}
        <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">
        {% endif %}
          {% trans "Next" %} &raquo;
        {% if page.has_next %}</a>{% endif %}
      </div>
    {% endif %}
    {% else %}
      {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
  </form>
{% endblock %}
