{% extends "base-with-sidebar.html" %}
{% load i18n thumbnail %}
{% block javascript %}
  <script type="text/javascript">
    function update_counter() {
      var count = $("#id_text").val().length;
      var cc = $("#character-counter");

      if (count >= 200) {
        cc.addClass("error");
      } else if (cc.hasClass("error")) {
        cc.removeClass("error");
      }
      cc.text(count);
    }

    $(document).ready(function() {
      $("#id_text").bind('keydown keyup keypress', function() {
          update_counter();
      });
      $('#delete-tip').submit(function() {
        return confirm("{% trans "Really delete tip?" %}");
      });

      update_counter();
    });
  </script>
{% endblock %}

{% block main %}
<div id="tip-form" class="span-15 append-1 last rounded-9">
  <div class="span-14">
    <h2>{% trans "Edit your tip!" %}</h2>
  </div>
  <div class="span-1 last" style="text-align:right;">
    (<span id="character-counter"></span>)
  </div>
  <div class="span-15 last">
    {% include "tips-form.html" %}

    <form action="#" method="post" id="delete-tip" name="delete-tip">
      {% csrf_token %}

      <fieldset>
        <p>
          ...{% trans "or" %}
          <input type="submit"
                 name="delete-tip"
                 value="{% trans "delete" %}">
          {% trans "it?" %}
        </p>
      </fieldset>
    </form>
  </div>
</div>

  <h2>{% trans "Your tip, before editing" %}</h2>
  <ul id="tips-list">
    {% include "tips-tip-listitem.html" %}
  </ul>
{% endblock %}
