/* Dimensions */
$blueprint-width: 950px;

/* Types */
$helvetica-neue: "Helvetica Neue", arial, helvetica, sans-serif;

/* Colors */
$almost-white: #fffff5; /* Body background */
$body-text: #5e4a3f;
$blue: #1177aa;
$gray: #999;
$green: #b9bf04; /* User-navigation */
$not-used-test: #f00;
$border-color: #dcdad8;
$ultra-light-brown: #fcfaf8;
$brown: #7f6455;
$light-green: #eceae8; /* ??? */
$greenish: #7b7f03; /* ??? */
$brownish: #47403f; /* ??? */
$alt: #f00; /* ??? */
$cyan: #91d5ff;
$comment-body: #b0b579;
$comment-body-owner: #a2c615;
$comment-body-thumbsup: #f8df17;
$comment-text-color: #354107;

/* Mixins */
@mixin rotate($angle) {
    -webkit-transform: rotate($angle);
    -moz-transform: rotate($angle);
    -o-transform: rotate($angle);
    transform: rotate($angle);
}

/* CSS */
.noprint {
    display: none !important;
}
.center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.inline {
    display: inline;
}
.align-right {
    text-align: right;
}
body {
    font-family: $helvetica-neue;
    color: $body-text;
    font-size: 16px;
    line-height: 24px;
}
a {
    color: $blue;
    font-weight: bold;
    text-decoration: none;

    &.alt {
        color: $gray;
        text-decoration: none;
        font-weight: normal;
    }
    &.rounded-button {
        display: inline-block;
        padding: 2px 10px 2px 10px;
        background-color: lighten($blue, 45%);
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        /* For IE 7 */
        zoom: 1;
        *display: inline;
    }
    h3 {
        color: $blue;
        font-weight: bold;
        text-decoration: none;
    }
}
h1 {
    color: #a2c615;
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 2px 2px 3px rgba(1, 1, 1, 0.1);
    letter-spacing: -3px;
    margin: 0;
}
h2 {
    color: $greenish;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 24px;
    text-shadow: 0 1px 0 lighten($greenish, 25%);
    margin: 32px 0 8px 0;
}
h3 {
    color: $brownish;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.08);
    margin: 16px 0 8px 0;

    &.options {
        padding: 7px 0 7px 0;
        background-color: lighten($blue, 15%);
        text-align: center;
        color: white;
    }
}
h4 {
    color: lighten($brownish, 15%);
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.08);
    margin: 16px 0 8px 0;
}
li ul,
li ol {
    padding-left: 1.5em;
}
li ul {
    list-style-type: circle;
}
ul {
    &.no-markers {
        list-style-type: none;
    }
    &#method-index {
        list-style-type: none;
        padding-left: 0;

        img.method-thumb {
            border: 1px solid #ccc;
            float: left;
            margin-right: 1em;
            padding: 3px;
            @include rotate(-2deg);
        }
        img.bonus-star {
            float: right;
            width: 48px;
        }
        li {
            border-bottom: 1px dotted rgba(0, 0, 0, 0.1);

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
img {
    &.bonus-badge {
        float: right;
        margin-top: -2em;
    }
    &.profile-avatar {
        padding: 8px;
        border: 1px solid #999;
        background-color: #f8f8f8;
        @include rotate(7deg);
    }
}
pre {
    background-color: lighten($brown, 50%);
    color: darken($brown, 15%);
    padding: 5px 0 5px 10px;
    margin: 0 0 0 -10px;
}
span {
    &.popular-tag {
        margin: 0 1em 0 0;
        font-size: 19px;
    }
    &.taggit-tag {
        display: inline-block;
        padding-left: 4px;
        padding-right: 4px;
        margin-left: 1px;
        margin-right: 1px;
        cursor: pointer;
        color: $blue;
        /* For IE 7 */
        zoom: 1;
        *display: inline;
    }
    &.taggit-tag-used {
        background-color: darken($blue, 30%);
        color: white;
    }
}
textarea {
    resize: vertical;
}

header {
    margin: 0;
    padding: 0;
}
nav {
    color: $not-used-test;
    background-color: white;
    padding: 1em 0 1em 0;
    margin: 0 0 3em 0;
    min-width: $blueprint-width;

    h1 {
        a {
            color: darken($green, 5%);
            text-decoration: none;
        }
    }
    input[type="text"] {
        background-image: none;
        background-color: white;
        border: 2px solid $brown;
    }
    input[type="submit"] {
        color: $ultra-light-brown;
        background-color: $brown;
        border: 0;
    }
}
article {
    min-height: 400px;

    h2:first-child {
        margin: 0 0 8px 0;
    }
}
footer {
    margin: 3em 0 3em 0;
    min-width: $blueprint-width;

    h4, p {
        font-size: 90%;
    }
    #footer-info {
        background-color: $border-color;
    }
}

.box {
    background: #dcdcd2 url(images/background-tile-noise.jpg) 0 0 repeat;
    border-bottom: 1px solid #cecec5;
}

#uploaded-media ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        position: relative;
        left: 0;
        top: 0;
        background-color: #fff;
        padding: 5px;
        margin-top: 3px;
        border: 3px solid #ccc;
        width: 50px;
        height: 50px;
        vertical-align: top;
        text-align: center;
        /* For IE 7 */
        zoom: 1;
        *display: inline;

        img {
            vertical-align: middle;
        }
    }
}

#bonuses {
    margin-bottom: 2em;

    ul {
        margin-left: 1em;
        list-style-type: circle;
    }
}
div.method-meta, div.bonus-meta {
    font-size: 95%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    clear: left;

    p {
        margin: 0;
        padding: 0;
    }
}

#comments {
    margin-bottom: 2em;
    padding: 0;
    list-style-type: none;

    textarea {
        height: 80px;
    }
    img.profile {
        float: left;
        background-color: #fff;
        margin: 3px 0.5em 0.5em 0;
        padding: 2px;
        border: 1px solid #ccc;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        div.comment-body {
            padding: 0.5em;
            background-color: lighten($comment-body, 15%);
            color: $comment-text-color;
        }
        &.comment-method-owner {
            div.comment-body {
                background-color: $comment-body-owner;
                color: $comment-text-color;
            }
        }
        &.comment-thumbsup {
            div.comment-body {
                background-color: $comment-body-thumbsup;
                color: $comment-text-color;
            }
        }
    }
}
.inset {
    background: #dcdcd2 url(images/background-tile-noise.jpg) 0 0 repeat;
    border-bottom: 1px solid #cecec5;
    margin: 0 -40px 0 -30px;
    padding: 1.5em 40px 1.5em 30px;

    .span-4 {
        input[type=text], input[type=password] {
            width: 138px;
        }
    }
    .span-5 {
        input[type=text], input[type=password] {
            width: 178px;
        }
    }
    .span-6 {
        input[type=text], input[type=password] {
            width: 218px;
        }
    }
    .span-7 {
        input[type=text], input[type=password] {
            width: 258px;
        }
    }
    .span-10 {
        input[type=text], textarea {
            width: 378px;
        }
    }
    .span-15 {
        textarea {
            width:578px;
        }
    }
}

/* CSS2.1 + CSS3 Buttons */
input[type="submit"] {
    padding: 0 15px;
    font-family: $helvetica-neue;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    height: 24px;
    color: #fcfaf8;
    border: 0;
    background-color: #a2c615;

    text-shadow: 0 1px 1px rgba(93, 114, 12, 0.75);
}
input[type="text"],
input[type="password"],
textarea {
    margin-top: 0px;
    padding: 0 8px !important;
    font-family: $helvetica-neue;
    font-size: 14px;
    line-height: 24px;
    background-color: white;
    color: #666;
    border: 0;
}
input[type="text"],
input[type="password"] {
    height: 24px;
}

#suggested-tags p {
    margin: 0;
}
#tips-list {
    list-style-type: none;
    font-size: 130%;
    padding-left: 0;

    h3 {
        margin-top: 0;
    }
    span {
        font-size: 70%;
    }
}

#frontpage {
    h2 {
        margin-top: 0;
        padding-top: 0;
    }
    h3 {
        font-size: 30px;
        line-height: 38px;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    img.method-thumb {
        background-color: white;
        border: 2px solid #ccc;
        margin-right: 1em;
        padding: 12px;
        @include rotate(2deg);
    }
    img.bonus-badge {
        display: block;
        margin-right: -5em;
    }
}
#frontpage-midsection {
    margin-top: -1.5em;
    padding: 1.5em 0;
    background-color: $green;
    min-width: $blueprint-width;

    h2 {
        margin-top: 0.5em;
        padding-top: 0;
    }
    blockquote {
        margin: 0 0 0 110px;
        width: 310px;
        height: 200px;
        background: #b9bf04 url(images/chat-bubble.png) no-repeat;
        position: relative;
    }
    a.popular-tag {
        color: lighten($green, 50%);
        margin: 0 1em 0 0;
        font-size: 17px;
    }
    #bubblewrap {
        display: table;
        width: 240px;
        height: 120px;
        position: absolute;
        top: 31px;
        left: 35px;
        font-size: 17px;
        text-align: center;

        p {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
    }
    #tip-author {
        text-align: right;
        width: 190px;
        position: absolute;
        top: 177px;
        left: 0px;
        z-index: 1;
    }
}

/* Remove fancybox when printing */
#fancybox-wrap {
    display: none;
}

#preview-wrapper {
    background-color: #fcfaf8;
    margin-bottom: 2em;

    .separator {
        text-align: center;
        background-color: #ccecff;
        color: #333;
        border-top: 1px solid #91d5ff;
        border-bottom: 1px solid #91d5ff;

        h2 {
            margin: 0;
            padding: 0;
            color: #222;
            float: left;
            text-align: center;
            width: 100%;
        }
        p {
            color: #666;
        }
    }
}
#method-wrapper,
#bonus-wrapper,
#preview-wrapper {
    a {
        h2 {
            color: $blue;
            font-weight: bold;
            text-decoration: none;
            font-size: 30px;
            line-height: 40px;

            span {
                font-style: italic;
            }
        }
    }
}

/* User generated markdown content */
#markdown-wrapper {
    .markdown {
        h1 {
            font-size: 26px;
            color: $greenish;
            font-weight: bold;
            letter-spacing: normal;
            text-shadow: 0 1px 0 lighten($greenish, 25%);
            margin: 0;
        }
        h2 {
            font-size: 22px;
            margin: 2px 0 0 0;
        }
        h3 {
            font-size: 20px;
            margin: 4px 0 0 0;
        }
        h4 {
            font-size: 18px;
            color: $brownish;
            margin: 6px 0 0 0;
        }
        h5 {
            font-size: 16px;
            margin: 8px 0 0 0;
        }
        h6 {
            font-size: 14px;
            margin: 10px 0 0 0;
        }
        p {
            width: 95%;
        }
        ul, ol {
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            padding: 0.5em 0 0.5em 30px;

            &:last-child {
                border-bottom: 0;
            }
        }
        li ul, li ol {
            border: 0;
            padding-left: 1.5em;
        }
        img {
            max-width: 100%;
            max-height: 600px;

            &.autolink {
                display: block;
            }
        }
    }
    .markdown + hr {
        background-color: #1177aa;
    }
}
