$blueprint-width: 950px;
$almost-white: #fffff5; /* Body background */
$body-text: #5e4a3f;
$blue: #1177aa;
$gray: #999;
$green: #b9bf04; /* User-navigation */
$not-used-test: #f00;
$border-color: #dcdad8;
$helvetica-neue: "Helvetica Neue", arial, helvetica, sans-serif;
$ultra-light-brown: #fcfaf8;
$brown: #7f6455;
$light-green: #eceae8; /* ??? */
$greenish: #7b7f03; /* ??? */
$brownish: #47403f; /* ??? */
$alt: #f00; /* ??? */

@mixin box-shadow-light-75 {
    -webkit-box-shadow: 0 2px 4px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 2px 4px rgba(255, 255, 255, 0.75);
    -o-box-shadow: 0 2px 4px rgba(255, 255, 255, 0.75);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.75);
}
@mixin box-shadow-dark-10 {
    -webkit-box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
}
@mixin box-shadow-form-inset {
    -webkit-box-shadow: inset 2px 2px 3px #cecec5;
    -moz-box-shadow: inset 2px 2px 3px #cecec5;
    -o-box-shadow: inset 2px 2px 3px #cecec5;
    box-shadow: inset 2px 2px 3px #cecec5;
}
@mixin box-shadow-text {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
@mixin box-shadow-text-focus {
    -webkit-box-shadow: 0 0 9px rgba(156, 139, 128, 0.5);
    -moz-box-shadow: 0 0 9px rgba(156, 139, 128, 0.5);
    -o-box-shadow: 0 0 9px rgba(156, 139, 128, 0.5);
    box-shadow: 0 0 9px rgba(156, 139, 128, 0.5);
}
@mixin box-shadow-submit {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
@mixin rotate-slight-left {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
@mixin rotate-slight-right {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}
@mixin border-radius-15 {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
@mixin border-radius-4 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

body {
    background: $almost-white;
    -webkit-font-smoothing: antialiased;
    font-family: $helvetica-neue;
    color: $body-text;
    font-size: 14px;
    line-height: 24px;
}
a, a h3 {
    color: $blue;
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:focus, a:hover h3, a:focus h3 {
    color: darken($blue, 20%);
}
a.alt {
    color: $gray;
    text-decoration: none;
    font-weight:normal;
}
a.alt:hover, a.alt:focus {
    color: $alt;
}

h1 {
    color: #a2c615;
    /*
    font-family: "HelveticaNeue-Ultralight", "Helvetica Neue Ultralight",
                 "HelveticaNeue-Light", "Helvetica Neue Light",
                 "Helvetica Neue", arial, helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: -0.02em;
    */
    font-family: arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 2px 2px 3px rgba(1, 1, 1, 0.1);
    letter-spacing: -3px;
    margin: 0;
}
h2 {
    color: $greenish;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 24px;
    text-shadow: 0 1px lighten($greenish, 25%);
    margin: 32px 0 8px 0;
}
h3 {
    color: $brownish;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.08);
    margin: 16px 0 8px 0;
}

h4 {
    color: lighten($brownish, 15%);
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.08);
    margin: 16px 0 8px 0;
}
article h2:first-child, aside div:first-child h4 {
    margin: 0 0 8px 0;
}

li ul, li ol {
    padding-left: 1.5em;
    list-style-type: circle;
}
ul, ol {
    padding-left: 0;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}

header {
    margin: 0;
    padding: 0;
}
header #user-nav {
    background-color: $green;

    padding: 0.3em 0;
    margin: 0;
    color: white;
    font-size: 90%;
    min-width: $blueprint-width;
}
header #user-nav ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
header #user-nav ol li {
    float: left;
    margin: 0 0 0 10px;
    list-style: none;
}
header #user-nav ol li a, header #user-nav ol li span {
    text-decoration: none;
    color: white;
    display: block;
    border-left: 1px solid $light-green;
    padding-left: 9px;
}
header #user-nav ol li a.no-separator,
header #user-nav ol li span.no-separator {
    border-left: 0;
    padding-left: 0;
    margin: 0;
}
header #user-nav ol li a:hover, header #user-nav ol li a:focus {
    color: rgba(255, 255, 255, 0.76);
}

nav {
    color: $not-used-test;
    background-color: white;
    border-bottom: 1px solid $border-color;
    padding: 1em 0 1em 0;
    margin-bottom: 3em;
    min-width: $blueprint-width;
    @include box-shadow-dark-10;
}
nav h1 {
}
nav h1 a {
    color: darken($green, 5%);
    text-decoration: none;
}
nav h1 a:hover, h1 a:focus {
    color: $brown;
    -webkit-transition: color 0.5s ease;
}
nav ol {
    margin: 0;
    padding: 10px 0 0 0;
    list-style-type: none;
    float: right;
    font: 16px/1.25 $helvetica-neue;
}
nav ol li {
    float: left;
    margin: 0 0 0 10px;
    list-style: none;
    vertical-align: baseline;
    line-height: 2em;
}
nav ol li form {
}
nav ol li form input {
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    vertical-align: middle;
    margin: 0 !important;
}
nav ol li a, nav ol li span, nav ol li form {
    font-weight: bold;
    text-decoration: none;
    color: $brown;
    display: block;
    border-left: 1px solid #eceae8;
    padding-left: 9px;
}
nav ol li a.no-separator,
nav ol li span.no-separator {
    border-left: 0;
    padding-left: 0;
    margin: 0;
}
nav ol li a:hover, nav ol li a:focus {
    color: darken($green, 5%);
    -webkit-transition: color 0.4s ease;
}

article {
}

aside {
}
aside ol {
    list-style: none;
}
aside ol li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    text-indent: -20px;
}
aside ol li:last-child {
    border-bottom: 0;
}

footer {
    display: block;
    margin: 3em 0 0 0;
    padding-bottom: 0;
    border: 0;
    min-width: $blueprint-width;
    position: relative;
    text-align: center;
}

ul#messages {
    margin: 0;
    padding: 0;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-width: $blueprint-width;
    overflow: visible;
    z-index: 10000;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

blockquote em {
    font-style: normal;
}

#method-form input, #bonus-form input {
    font-size: 100%;
    font-family: Lucida Console, Monaco, DejaVu Sans Mono, monospace;
}
.markItUpEditor {
    height: 400px;
    font-size: 100%;
    font-family: Lucida Console, Monaco, DejaVu Sans Mono, monospace;
}

#tag-column li.tag-1 { background-color:  #f4970a; }
#tag-column li.tag-2 { background-color:  #da900a; }
#tag-column li.tag-3 { background-color:  #c18a0a; }
#tag-column li.tag-4 { background-color:  #a8840b; }
#tag-column li.tag-5 { background-color:  #8f7e0b; }
#tag-column li.tag-6 { background-color:  #76780b; }
#tag-column li.tag-7 { background-color:  #5d720c; }
#tag-column li.tag-8 { background-color:  #4d6a20; }
#tag-column li.tag-9 { background-color:  #3e6334; }
#tag-column li.tag-10 { background-color: #2e5b49; }
#tag-column li.tag-11 { background-color: #1e545e; }
#tag-column li.tag-12 { background-color: #0f4c72; }

#frontpage img.method-thumb {
    background-color: white;
    border: 2px solid #ccc;
    margin-right: 1em;
    padding: 12px;
    @include rotate-slight-right;
    @include box-shadow-dark-10;
}
#method-index img.method-thumb {
    border: 1px solid #ccc;
    float: left;
    margin-right: 1em;
    padding: 3px;
    @include rotate-slight-left;
    @include box-shadow-dark-10;
}
#method-index img.bonus-star, #frontpage img.bonus-star {
    float: right;
    width: 48px;
}
ul#method-index li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
ul#method-index li:last-child {
    border-bottom: 0;
}

#method p { width: 95%; }
#method img { width: 100% !important; }
#method ul, #method ol {
    list-style-type: inside;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-left: 1em;
    width: 70%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#method ul:last-child, #method ol:last-child {
    border-bottom: 0;
}
#method h1, #method h2, #method h3, #method h4, #method h5, #method h6 {
    color: #222;
}
#method + hr {
    background-color: #1177aa;
}

div.method-meta {
    font-size: 95%;
    margin-top: 0.5em;
}
#method div.method-meta {
    clear: left;
}

#method img, #bonus img {
    display: block;
    width: 90%;
    text-align: center;
}
.markItUpPreviewFrame {
    height: 200px;
    border: 1px solid #aaa;
}

.box {
    background: #dcdcd2 url(images/background-tile-noise.jpg) 0 0 repeat;
    border-bottom: 1px solid #cecec5;
    @include box-shadow-form-inset;
}
.sidebar-box {
    background-color: #eee;
}
.sidebar-box ul {
    list-style-type: circle;
}
.sidebar-box a {
    text-decoration: none;
}
.sidebar-box a:hover, .sidebar-box a:focus {
    text-decoration: underline;
}

.create-method-box {
    background-color: $not-used-test;
}
.create-method-box a {
/*    color: #ebf7ff; */
}
.create-method-box a:hover, h1:focus {
/*    color: #fff; */
}
.sidebar-box-meta {
}

#uploaded-media ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#uploaded-media ul li {
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
    background-color: #fff;
    padding: 5px;
    margin-top: 3px;
    border: 3px solid #ccc;
    width: 50px;
    height: 50px;
    vertical-align: top;
    text-align: center;
}
#uploaded-media ul li img {
    vertical-align:center;
}

h3.options {
    padding: 7px 0 7px 0;
    background-color: lighten($blue, 15%);
    text-align:center;
    color: white;
}

h3.options:hover {
    background-color: $blue;
}

span.taggit-tag {
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 1px;
    margin-right: 1px;
    cursor: pointer;
    color: $blue;
}
span.taggit-tag:hover {
  color: #fff;
  background-color: $alt;
}
span.taggit-tag-used {
    background-color: darken($blue, 30%);
    color: white;
}

a.image-add, a.image-preview, a.image-delete {
    display: none;
    position: absolute;
    width: 24px;
    height: 24px;
}

.image-add {
    background: url(images/icons/001_01.png);
    bottom: 24px;
    left: 17px;
}
.image-preview {
    background: url(images/icons/001_37.png);
    bottom: 0px;
    left: 0px;
}
.image-delete {
    background: url(images/icons/001_05.png);
    bottom: 0px;
    right: 0px;
}

#bonuses {
    margin-bottom: 2em;
}
#bonuses ul {
    margin-left: 1em;
    list-style-type: circle;
}
div.bonus-meta {
    clear: left;
    margin: 0.5 0 0 0;
    padding: 0.5em 0 0.5em 0;
    background-color: #ebe8e5;
    border-bottom: 1px solid #a2c615;
}
div.bonus-meta p {
    margin: 0;
    padding: 0;
}

#comments {
    margin-bottom: 2em;
}
#comments h2, #login-form h2, #register-form h2 {
    padding-top: 1.5em;
    margin-top: 0;
}
#comments textarea, #preview-comment textarea {
    height: 80px;
}
#comments li div.comment-body, #preview-comment li div.comment-body {
    padding: 0.5em;
    background-color: #b0b579;
    color: #354107;
}
#comments li.comment-method-owner div.comment-body {
    background-color: #a2c615;
    color: #354107;
}
#comments li div.comment-counter, #preview-comment li div.comment-counter {
    float: right;
    padding-right: 3px;
    color: #c8ce8a;
    font-size: 250%;
    font-weight: bold;
}
#comments li.comment-method-owner div.comment-counter {
    color: #b8e118; /* 69c5ff */
}
#comments li.comment-thumbsup div.comment-body, #preview-comment li.comment-thumbsup div.comment-body {
    background-color: #f8df17;
    color: #354107;
}
#comments li.comment-thumbsup div.comment-counter {
    color: #ff0;
}
#comment-form,
#login-form,
#register-form,
#comment-preview-form,
#preferences-profile-form,
#tip-form {
    background: #dcdcd2 url(images/background-tile-noise.jpg) 0 0 repeat;
    border-bottom: 1px solid #cecec5;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 2em;
    @include box-shadow-form-inset;
}
#preferences-profile-form,
#tip-form {
    padding-top: 1.5em;
    margin-left: -30px;
    padding-left: 30px;
    margin-right: -30px;
    padding-right: 30px;
}
#tip-form {
    padding-top: 1em;
    padding-bottom: 0;
    margin-top: 2em;
    margin-bottom: 1em;
}
#comment-form, #comment-preview-form {
    width: 630px;
    margin-left: -30px;
    padding-left: 30px;
}
#comment-preview-form {
    padding-top: 2em;
}

/* Rounded corners */
.borderradius .rounded-3 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.borderradius .rounded-6 {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.borderradius .rounded-9 {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -o-border-radius: 9px;
    border-radius: 9px;
}
.borderradius .rounded-10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.borderradius .rounded-19 {
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -o-border-radius: 19px;
    border-radius: 19px;
}

#fancybox-left-ico {
    left: 20px !important;
}
#fancybox-right-ico {
    right: 20px !important;
    left: auto !important;
}

/* CSS2.1 + CSS3 Buttons */
input[type="submit"] {
    padding: 0 15px;
    font-family: $helvetica-neue;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    height: 24px;
    color: #fcfaf8;
    border: 0;
    background-color: #a2c615;

    text-shadow: 0 1px 1px rgba(93, 114, 12, 0.75);
    @include border-radius-15;
    @include box-shadow-submit;
}
input[type="text"], input[type="password"], textarea {
    margin-top: 0px;
    padding: 0 8px !important;
    font-family: $helvetica-neue;
    font-size: 14px;
    line-height: 24px;
    background-color: white;
    color: #666;
    border: 0;

    @include border-radius-4;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 12%, from(#999), to(#fff), color-stop(.99,#fff));
}
input[type="text"], input[type="password"] {
    height: 24px;
}
textarea {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 3%, from(#999), to(#fff), color-stop(.99,#fff));
}
nav input[type="text"] {
    background-image: none;
    background-color: white;
    border: 2px solid $brown;
    @include box-shadow-text;
}
input[type="text"]:focus, textarea:focus {
    @include box-shadow-text-focus;
}
nav input[type="submit"] {
    color: $ultra-light-brown;
    background-color: $brown;
    border: 0;
}

#frontpage-midsection {
    margin-top: -1.5em;
    padding: 1.5em 0;
    background-color: $green;
    min-width: $blueprint-width;
}
span.popular-tag {
    margin: 0 1em 0 0;
    font-size: 19px;
}
#frontpage-midsection a.popular-tag {
    color: lighten($green, 50%);
    text-shadow: 0 1px darken($green, 10%);
    margin: 0 1em 0 0;
    font-size: 19px;
}
#frontpage-midsection a.popular-tag:hover,
#frontpage-midsection a.popular-tag:active {
    color: darken($green, 30%);
    text-shadow: 0 1px lighten($green, 15%);
}
.tag-1 {background-color: #f4970a;}
.tag-2 {background-color: #da900a;}
.tag-3 {background-color: #c18a0a;}
.tag-4 {background-color: #a8840b;}
.tag-5 {background-color: #8f7e0b;}
.tag-6 {background-color: #76780b;}
.tag-7 {background-color: #5d720c;}
.tag-8 {background-color: #4d6a20;}
.tag-9 {background-color: #3e6334;}
.tag-10 {background-color: #2e5b49;}
.tag-11 {background-color: #1e545e;}
.tag-12 {background-color: #0f4c72;}

#suggested-tags p {
    margin: 0;
}
#tip-form textarea {
    height: 50px;
}
#character-counter {
    margin: 0;
    padding: 0;
    font-size: 80%;
    font-style: italic;
}
#tips-list {
    list-style-type: none;
    font-size: 130%;
}
#tips-list span {
    font-size: 80%;
}
#tips-list h3 {
    margin-top: 0;
}
