{% load comments i18n %}
{% if sidebar_methods %}
<div>
  <h4>{% trans "Recent methods" %}</h4>
  <ol>
    {% for method in sidebar_methods.recent|slice:"5" %}
    <li>
      {% comment %}&#187;{% endcomment %}
      <a href="{% url methods-show-method method.published_at.year method.published_at.month method.published_at.day method.slug %}">
        {{ method.title }}
      </a>
    </li>
    {% endfor %}
    <li class="align-right">
      <a href="{% url methods-index %}">{% trans "See more..." %}</a>
    </li>
  </ol>
</div>
{% endif %}
