{% extends "base-html5.html" %}
{% load i18n %}
{% block body %}
  {% include "base-header.html" %}

  <div class="container">
    <article class="span-16 colborder">
      {% block main %}Main content{% endblock %}
    </article>

    <aside class="span-7 last">
      {% block sidebar %}
      {% include "sidebar/sidebar-create-method.html" %}
      {% include "sidebar/sidebar-recent-methods.html" %}
      {% include "sidebar/sidebar-tag-cloud.html" %}
      {% include "sidebar/sidebar-recent-comments.html" %}
      {% include "sidebar/sidebar-methods-created-by-user.html" %}
      {% include "sidebar/sidebar-meta.html" %}
      {% endblock %}
    </aside>
  </div>

  {% include "base-footer.html" %}
{% endblock %}
