{% load i18n media %}<!DOCTYPE html>
<html lang="sv-SE" class="no-js">
<head>
  <meta charset="utf-8" />
  <title>Metodiki</title>

  <meta name="title" content="{{ site_name }}" />
  <meta name="author" content="Jonas Nockert" />
  <meta name="language" content="sv-SE" />

  {% comment %}
  <link rel="shortcut icon" href="{% media_url "favicon.ico" %}" />
  {% endcomment %}

  {% block feeds %}{% endblock %}

  <!--[if (!IE)|(gte IE 8)]><!-->
    {% include_media "screen.css" media="screen, projection" %}
  <!--<![endif]-->
  <!--[if lt IE 8]>
    {% include_media "screen-ie.css" media="screen, projection" %}
  <![endif]-->
  {% include_media "print.css" media="print" %}
  {% block css %}{% endblock %}

  <!--[if (!IE)|(gte IE 9)]><!-->
    {% include_media 'main.js' %}
  <!--<![endif]-->
  <!--[if lt IE 9]>
    {% include_media 'main-ie.js' %}
  <![endif]-->

  <script type="text/javascript">
    $(document).ready(function() {
      if (!Modernizr.borderradius) {
          $(".rounded-3").corner("3px");
          $(".rounded-6").corner("6px");
          $(".rounded-9").corner("9px");
          $(".rounded-10").corner("10px");
          $(".rounded-15").corner("15px");
          $(".rounded-19").corner("19px");
      }
      $("#messages").delay(800).slideDown("slow").delay(4000).slideUp("slow");
    });
  </script>
  {% block javascript %}{% endblock %}
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
</body>
</html>