{% extends "base-without-sidebar.html" %}
{% load i18n %}
{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
        $("#id_email").focus();
    });
  </script>
{% endblock %}

{% block main %}
<div class="prepend-8 span-8 append-8 last">
  <div class="inset rounded-9 span-8 last">
    <h2>{% trans "Forgot your password?" %}</h2>
    <p>
      {% blocktrans %}
      Enter your e-mail address below, and we'll e-mail instructions
      for setting a new one.
      {% endblocktrans %}
    </p>

    <form action="#" method="post">
      {% csrf_token %}

      {% if form.non_field_errors or form.email.errors %}
      <div class="span-8 last">
        {% for error in form.non_field_errors %}
        <p class="error">
          {{ error|escape }}
         </p>
        {% endfor %}

        {% for error in form.email.errors %}
        <p class="error">
          {{ error|escape }}
        </p>
        {% endfor %}
      </div>
      {% endif %}

      <div class="span-3">
        <label for="id_email">{% trans "E-mail address" %}</label>
      </div>
      <div class="span-5 last">
        {{ form.email }}
      </div>

      <div class="span-8 last prepend-top" style="text-align:right;">
        <input type="submit" value="{% trans "Reset my password" %}" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
