{% load i18n thumbnail %}
<div class="bonus-meta">
  <p>
    — {% url user bonus.user.username as link_to_person %}
    <em>
      {% ifequal bonus.status "PUBLISHED" %}
      {% blocktrans with bonus.user.get_profile.name as name and bonus.published_at as published_at %}
      Created by <a href="{{ link_to_person }}">{{ name }}</a>
      and published at {{ published_at }}.
      {% endblocktrans %}
      {% endifequal %}
      {% ifequal bonus.status "DRAFT" %}
      {% blocktrans with bonus.user.get_profile.name as name and bonus.date_created as created_at %}
      Created by <a href="{{ link_to_person }}">{{ name }}</a> at {{ created_at }}.
      <strong>Method is not yet published.</strong>
      {% endblocktrans %}
      {% endifequal %}

      {% if not edit_bonus_flag %}
      {% if bonus.user.id == request.user.id or request.user.is_superuser %}
      <a class="rounded-button rounded-6"
              href="{% url methods-edit-bonus bonus.id %}">
          {% trans "Edit bonus" %}
      </a>
      {% endif %}
      {% endif %}
    </em>
  </p>
</div>