{% extends "base-with-sidebar.html" %}
{% load comments i18n markup media thumbnail %}
{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#method img").each(function() {
          $(this).fancybox({"hideOnContentClick": true,
                            "type": "image",
                            "href": this.src,
                            "margin": 14});
      });
    });
  </script>
{% endblock %}

{% block sidebar %}
  {% include "sidebar/sidebar-theory.html" %}
  {% include "sidebar/sidebar-create-method.html" %}
  {% include "sidebar/sidebar-tips.html" %}
{% endblock %}

{% block main %}
  {% if method.methodbonus_set.all %}
  <a href="{% url methods-show-bonus method.published_at.year method.published_at.month method.published_at.day method.slug %}">
    <img style="float:right;margin-top:-2em;"
         src="{% media_url "images/pedagogic-bonus.png" %}" />
  </a>
  {% endif %}
  <h2>{{ method.title }}</h2>
  <div id="method">
    {{ method.description|markdown:"autolink" }}
  </div>
  <hr />
  {% include "methods-meta.html" %}

  <div id="comments" class="span-16 last">
    {% get_comment_count for method as comment_count %}
    {% get_comment_list for method as comment_list %}
    {% if comment_count %}
    <h2>
      {% blocktrans count comment_count as cc %}
        One comment so far:
        {% plural %}
        {{ cc }} comments:
      {% endblocktrans %}
    </h2>
    {% endif %}

    {% if comment_list %}
    <ul class="span-16 last" style="padding:0;list-style-type:none;">
      {% for comment in comment_list %}
      <li id="c{{ comment.id }}"
          class="span-16 last{% if comment.last %} comment-last{% endif %}{% ifequal method.user comment.user %} comment-method-owner{% endifequal %}{% if comment.lift_method %} comment-thumbsup{% endif %}"
          style="margin-bottom:1em;">
        <div class="span-1">
          {% if comment.user.get_profile.avatar %}
          <img src="{% thumbnail comment.user.get_profile.avatar 25x25 crop %}"
               style="padding:2px;border:1px solid #ccc;float:left;margin-right:0.5em;margin-bottom:0.5em;margin-top:3px;" />
          {% else %}
          <img src="{% media_url "images/icons/001_54.png" %}"
               style="background-color:#fff;padding:3px;border:1px solid #ccc;float:left;margin:3px 0.5em 0.5em 0;" />
          {% endif %}
        </div>
        <div class="span-4">
          <h3 style="margin-bottom:0;margin-top:0;">
            {% if comment.user %}
            <a href="{% url user comment.user.username %}">
              {% if comment.user.get_profile.name %}
                {{ comment.user.get_profile.name }}
              {% else %}
                {{ comment.user_name }}
              {% endif %}
            </a>
            {% else %}
            {{ comment.user_name }}
            {% endif %}
          </h3>
          <a class="alt"
             href="{% get_comment_permalink comment "#c%(id)s" %}"
             style="font-style:italic;font-size:95%;">
            {{ comment.submit_date }}
          </a>
        </div>
        <div class="span-11 last">
          <div class="comment-counter">
            {{ forloop.counter }}
          </div>
          <div class="rounded-6 comment-body">
            {% if comment.lift_method %}
            <img style="float:left;margin-right:0.5em;"
                 src="{% media_url "images/icons/001_18.png" %}"
                 width="24" height="24" />
            {% endif %}
            {{ comment.comment|markdown:"autolink" }}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% include "methods-comment-form.html" %}
  </div>

  {% if user.is_authenticated %}
  <hr />

  <div id="bonuses">
    <h3>{% trans "Good method?" %}</h3>
    <p>
      {% url methods-create-bonus as create_bonus_url %}
      {% blocktrans %}
      Is this method good from other perspectives than pure reusability?
      <a href="{{ create_bonus_url }}">Read more</a> and create a method bonus.
      {% endblocktrans %}

      <a class="rounded-6"
            style="display:inline-block;padding:3px 15px 3px 15px;margin-left:1em;background-color:#99bb14;color:#fff;font-style:normal;font-weight:bold;text-decoration:none;"
            href="{% url methods-create-bonus %}">
        <img src="{% media_url "images/pedagogic-bonus-badge.png" %}"
             style="width:18px;height:18px;vertical-align:text-bottom;"/>
        {% trans "Create bonus" %}
      </a>
    </p>
  </div>
  {% endif %}

{% endblock %}
