{% extends "base-with-sidebar.html" %}
{% load comments i18n markup media thumbnail %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
      $(".markdown img").each(function() {
          $(this).fancybox({"hideOnContentClick": true,
                            "type": "image",
                            "href": this.src,
                            "margin": 14});
      });
    });
  </script>
{% endblock %}

{% block main %}
  <div id="bonus-wrapper">
    <img class="bonus-badge"
         src="{% media_url "images/pedagogic-bonus.png" %}" />

    <a href="http://{{ site_domain }}{% url methods-show-method-short method.id %}">
      <h2>
        <span>{% trans "Good method" %}:</span>
        {{ method.title }}
      </h2>
    </a>

    <div id="markdown-wrapper">
      {% for bonus in bonuses %}
      <section>
        <div class="markdown">
          {{ bonus.description|markdown:"autolink" }}
        </div>
        {% include "methods-bonus-meta.html" %}
      </section>
      {% endfor %}
    </div>
  </div>
{% endblock %}
