{% extends "base-with-sidebar.html" %}
{% load comments i18n markup media thumbnail %}
{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#method img").each(function() {
          $(this).fancybox({"hideOnContentClick": true,
                            "type": "image",
                            "href": this.src,
                            "margin": 14});
      });
    });
  </script>
{% endblock %}

{% block sidebar %}
  {% include "sidebar/sidebar-theory.html" %}
  {% include "sidebar/sidebar-create-method.html" %}
  {% include "sidebar/sidebar-tips.html" %}
{% endblock %}

{% block main %}
  <div id="method-wrapper">
    <section id="markdown-wrapper">
      {% if method.methodbonus_set.all %}
      <a href="{% url methods-show-bonus method.published_at.year method.published_at.month method.published_at.day method.slug %}">
        <img class="bonus-badge"
             src="{% media_url "images/pedagogic-bonus.png" %}" />
      </a>
      {% endif %}

      <a href="http://{{ site_domain }}{% url methods-show-method-short method.id %}">
        <h2>
          {{ method.title }}
        </h2>
      </a>

      <div class="markdown">
        {{ method.description|markdown:"autolink" }}
      </div>

      {% include "methods-meta.html" %}

    </section>
    <hr />
  </div>

  <div id="comments" class="span-16 last prepend-top">
    {% get_comment_count for method as comment_count %}
    {% get_comment_list for method as comment_list %}
    {% if comment_count %}
    <h2>
      {% blocktrans count comment_count as cc %}
        One comment so far:
        {% plural %}
        {{ cc }} comments:
      {% endblocktrans %}
    </h2>
    {% endif %}

    {% if comment_list %}
    <ul class="span-16 last">
      {% for comment in comment_list %}
      <li id="c{{ comment.id }}"
          class="span-16 last append-bottom{% if comment.last %} comment-last{% endif %}{% ifequal method.user comment.user %} comment-method-owner{% endifequal %}{% if comment.lift_method %} comment-thumbsup{% endif %}">
        <div class="span-1">
          {% if comment.user.get_profile.avatar %}
          <img class="profile"
               src="{% thumbnail comment.user.get_profile.avatar 25x25 crop %}" />
          {% else %}
          <img class="profile"
               src="{% media_url "images/icons/001_54.png" %}" />
          {% endif %}
        </div>
        <div class="span-4">
          <h3 style="margin-bottom:0;margin-top:0;">
            {% if comment.user %}
            <a href="{% url user comment.user.username %}">
              {% if comment.user.get_profile.name %}
                {{ comment.user.get_profile.name }}
              {% else %}
                {{ comment.user_name }}
              {% endif %}
            </a>
            {% else %}
            {% if comment.url %}
            <a href="{{ comment.url }}">
              {{ comment.user_name }}
            </a>
            {% else %}
            {{ comment.user_name }}
            {% endif %}
            {% endif %}
          </h3>
          <a class="alt"
             href="{% get_comment_permalink comment "#c%(id)s" %}"
             style="font-style:italic;font-size:95%;">
            {{ comment.submit_date }}
          </a>
        </div>
        <div class="span-11 last">
          <div class="comment-counter noprint">
            {{ forloop.counter }}
          </div>
          <div class="rounded-6 comment-body">
            {% if comment.lift_method %}
            <img class="left" style="margin-right:0.5em;"
                 src="{% media_url "images/icons/001_18.png" %}"
                 width="24" height="24" />
            {% endif %}
            {{ comment.comment|markdown:"autolink" }}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="span-15 append-1 last noprint">
      <div class="inset rounded-9 span-15 last">
        <h2>{% trans "What do you think?" %}</h2>
        <p>
          {% blocktrans %}
          By writing comments, you can encourage good methods being shared
          and reused. Try to be constructive and give positive feedback!
          {% endblocktrans %}
        </p>

        {% get_comment_form for method as form %}
        {% include "methods-comment-form.html" %}
      </div>
    </div>
  </div>

  <hr/>

  <div id="bonuses" class="noprint">
    <h3>{% trans "Good method?" %}</h3>
    <p>
      {% url methods-create-bonus method.published_at.year method.published_at.month method.published_at.day method.slug as create_bonus_url %}
      {% blocktrans %}
      Is this method good from other perspectives than pure reusability?
      <a href="{{ create_bonus_url }}">Read more</a> and create a method bonus.
      {% endblocktrans %}

      <a class="rounded-6"
            style="display:inline-block;padding:3px 15px 3px 15px;margin-left:1em;background-color:#99bb14;color:#fff;font-style:normal;font-weight:bold;text-decoration:none;"
            href="{{ create_bonus_url }}">
        <img src="{% media_url "images/pedagogic-bonus-badge.png" %}"
             style="width:18px;height:18px;vertical-align:text-bottom;"/>
        {% trans "Create bonus" %}
      </a>
    </p>
  </div>
{% endblock %}
