{% extends "base-without-sidebar.html" %}
{% load i18n markup markitup_tags media taggit_extras thumbnail %}

{% block css %}
  {% markitup_css %}
  {% include_media "edit-methods.css" media="screen, projection" %}
{% endblock %}

{% block javascript %}
  {% markitup_js "no-jquery" %}
  {% include_media "edit-methods.js" %}
  <script type="text/javascript">
    $(document).ready(function() {
      taggit = $("#id_method-tags").taggit({tag_selector:
                                            "#suggested-tags .taggit-tag"});
      var uploader = new qq.FileUploader({
          element: document.getElementById('file-uploader'),
          action: '{% url methods-upload-file method.slug %}',
          data: {
              csrfmiddlewaretoken : "{{ csrf_token }}",
          },
          template: '<div class="qq-uploader">' + 
                    '<div class="qq-upload-drop-area"><span>{% trans "Drop files here to upload" %}</span></div>' +
                    '<div class="qq-upload-button rounded-3">{% trans "Upload an image" %}</div>' +
                    '<ul class="qq-upload-list"></ul>' + 
                    '</div>',
          onComplete: function(id, fileName, responseJSON) {
            var listitem =
                "<li id=\"image-" + responseJSON.image_id + "\" " +
                     "class=\"rounded-6\">" +
                    "<a href=\"" + responseJSON.original_url + "\">" +
                         "<img class=\"rounded-3\" src=\"" +
                               responseJSON.thumbnail_url + "\" /></a>" +
                    "<a class=\"image-add\" href=\"" +
                        responseJSON.original_url + "\"></a>" +
                    "<a class=\"image-preview\" href=\"" +
                        responseJSON.original_url + "\"></a>" +
                    "<a id=\"delete-image-" + responseJSON.image_id + "\" " +
                        "class=\"image-delete\" href=\"#\"></a>" + 
                "</li>";

                $("li#image-" + responseJSON.image_id + " a.image-preview").
                    fancybox({"hideOnContentClick": true,
                              "margin": 14});

            /*
            if (responseJSON.width > 600 || responseJSON.height > 500) {
                link_and_image += "http://{{ request.META.HTTP_HOST }}" +
                                  responseJSON.url;
            } else {
                link_and_image += "http://{{ request.META.HTTP_HOST }}" +
                                  responseJSON.original_url;
            }
            */
            $("#uploaded-media-list").append(listitem);
            /*
            $(".method-image").click(function() {
                $.markItUp({ replaceWith: '![{% trans "Alternative text" %}](' +
                                          this.href +
                                          ' "{% trans "Title" %}")' });
                return false;
            });
            */
            $("#uploaded-media").show("slow");
          }
      });
      $("a.image-add").live("click", function() {
          $.markItUp({replaceWith: this.href});
          return false;
      });
      $("a.image-delete").live("click", function() {
          if (!confirm("{% trans "Delete image?" %}")) {
              return false;
          }
          var id_str = this.id + "";
          var match = id_str.match(/^delete-image-([0-9]+)/);
          if (match) {
              var image_id = match[1];
              $.ajax({
                  type: "POST",
                  url: "{% url methods-delete-file method.slug %}",
                  data: {"xhr": 1, "deleteimage": image_id},
                  dataType: "json",
                  timeout: 10000,
                  success: function(data, textStatus) {
                      $("#image-" + image_id).hide();
                      return true;
                  },
                  error: function(xhr, textStatus, errorThrown) {
                      if (xhr.status !== 304) {
                          alert("fail!");
                      }
                  }
              });
          }
          return false;
      });
      $("#uploaded-media li").live("mouseover mouseout", function() {
          if (event.type === "mouseover") {
              $(this).children(".image-preview,.image-delete,.image-add").show();
          } else {
              $(this).children(".image-preview,.image-delete,.image-add").hide();
          }
      });
      $("a.image-preview").fancybox({"hideOnContentClick": true,
                                     "margin": 14});
      $("#preview img").each(function() {
          $(this).fancybox({"hideOnContentClick": true,
                            "type": "image",
                            "href": this.src,
                            "margin": 14});
      });
      $("h3.options").click(function() {
          $(this).next().toggle();
          return false;
      });
    });
  </script>
{% endblock %}

{% block main %}
  {% include "methods-preview.html" %}

  <div class="method span-18 prepend-3 append-3 last">
    <h2>{% trans "Edit away!" %}</h2>
    {% include "methods-markdown-quick-help.html" %}
  </div>

  <div class="method span-18 prepend-3 append-3 last">
  <div class="column box rounded-9">
    <form id="method-form" method="post"
          action="{% url methods-edit-method method.slug %}">
      {% csrf_token %}
      <div class="span-18 last">
        {{ form.title.label_tag }}
      </div>
      <div class="span-18 last">
        {{ form.title }}
      </div>
      {% if form.title.errors %}
      {% for error in form.title.errors %}
      <p class="error">
        <strong>{{ error|escape }}</strong>
      </p>
      {% endfor %}
      {% endif %}

      <div class="span-18 last">
        {{ form.description.label_tag }}
      </div>
      <div class="span-18 last">
        {{ form.description }}
      </div>
      {% if form.description.errors %}
      <p class="error">
        {{ form.description.errors }}
      </p>
      {% endif %}

      <div id="uploaded-media" class="span-18 last" style="margin-top:0.5em;">
        <ul id="uploaded-media-list">
        {% for image in images %}
        <li id="image-{{ image.id }}" class="rounded-6">
          <a href="{{ image.image.url }}">
            <img class="rounded-3" src="{% thumbnail image.image 50x50 %}"
                 title="{{ image.image.size }}"/>
          </a>
          <a class="image-add" href="{{ image.image.url }}"></a>
          <a class="image-preview" href="{{ image.image.url }}"></a>
          <a id="delete-image-{{ image.id }}" class="image-delete"
             href="#"></a>
        </li>
        {% endfor %}
        </ul>
        {% comment %}
        <p>{% blocktrans %}
          Hover over an image and click the plus sign to add the image
          where you've placed the cursor in the text.
        {% endblocktrans %}</p>
        {% endcomment %}
      </div>

      <div id="file-uploader" class="span-18 last">
        <noscript>
          <p>Please enable JavaScript to use file uploader.</p>
          <!-- or put a simple form for upload here -->
        </noscript>
      </div>

      <h2>{% trans "Optional settings" %}</h2>
      <h3 class="span-18 last options rounded-6">
        {% trans "Tags" %}
      </h3>
      <div class="span-18 last" style="display:none;">
        <div class="span-18 last">
          {{ form.tags }}
        </div>
        {% if form.tags.errors %}
        <p class="error">
          {{ form.tags.errors }}
        </p>
        {% endif %}

        <div class="span-18 last tagInputSuggestedTags">
          <span class="label">{% trans "Suggested tags:" %}</span>
          <span id="suggested-tags" class="tagInputSuggestedTagList">
            {% for tag in suggested_tags %}
            <span class="taggit-tag">{{ tag }}</span>
            {% endfor %}
          </span>
        </div>
      </div>

      <div class="span-18 last" style="text-align: right;margin-bottom:1em;">
        <input class="submit" type="submit" name="preview"
               value="{% trans "Preview" %}" />
        <input class="submit" type="submit" name="method"
               value="{% trans "Save" %}" />
      </div>
    </form>

    <hr />
    {% include "methods-meta.html" %}

    {% ifequal method.status "DRAFT" %}
    <form style="display:inline;" method="post"
          action="{% url methods-edit-method method.slug %}">
      {% csrf_token %}
      <input class="submit" type="submit" name="publish"
             value="{% trans "Publish method" %}" />
    </form>
    {% endifequal %}

    {% ifequal method.status "PUBLISHED" %}
    <form style="display:inline;" method="post"
          action="{% url methods-edit-method method.slug %}">
      {% csrf_token %}
      <input class="submit" type="submit" name="unpublish"
             value="{% trans "Unpublish method" %}" />
    </form>
    {% endifequal %}

    <form style="display:inline;" method="post"
          action="{% url methods-edit-method method.slug %}">
      {% csrf_token %}
      <input class="submit" type="submit" name="delete"
             value="{% trans "Delete method" %}" />
    </form>
  </div>
  </div>
{% endblock %}
