{% load i18n media %}
<p>
  {% blocktrans %}
  There are several ways to promote a good method.
  <em>One</em> is to share it here in the first place.
  <em>Another</em> is to re-use someone's method and give positive feedback.
  A <em>third</em> is to look at methods from a higher perspective and
  promote them based on other characteristics than pure reusability.
  {% endblocktrans %}
</p>

<div class="prepend-1 span-7 append-1">
  <p class="bold">
    {% blocktrans %}
    That is, you might be a:
    {% endblocktrans %}
  </p>
  
  {% blocktrans %}
  <ul>
    <li>discussion group</li>
    <li>expert in your field</li>
    <li>higher perspective generalist</li>
    <li>customer representative</li>
    <li>educational assessor</li>
  </ul>
  {% endblocktrans %}
</div>

<div class="prepend-1 span-7 append-1 last">
  <p class="bold">
    {% blocktrans %}
    who thinks a method is good based on, say:
    {% endblocktrans %}
  </p>
  
  {% blocktrans %}
  <ul>
    <li>rave evaluations from course participants</li>
    <li>teaching effectiveness</li>
    <li>creativity</li>
    <li>technical writing</li>
    <li>pedagogical theory</li>
  </ul>
  {% endblocktrans %}
</div>
