{% extends "base-frontpage.html" %}
{% load comments i18n markup media methods thumbnail %}

{% block css %}
<style>
#frontpage h3 {
    font-size: 40px;
    line-height: 48px;
}
blockquote {
    margin: 0 0 0 110px;
    width: 310px;
    height: 200px;
    background: #b9bf04 url({% media_url "images/chat-bubble.png" %}) no-repeat;
    position: relative;
}
#bubblewrap {
    display: table;
    width: 240px;
    height: 120px;
    position: absolute;
    top: 31px;
    left: 35px;
    font-size: 17px;
    text-align: center;
}
#bubblewrap p {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
#tip-author {
    text-align: right;
    width: 190px;
    position: absolute;
    top: 177px;
    z-index: 1;
}
</style>
{% endblock %}

{% block main %}
  <div class="container">
    <div class="span-24 last">
      <h2>
        {% trans "Welcome!" %}
      </h2>

      <div id="frontpage" class="span-24 last">
        <div class="span-15 append-1">
        {% if method %}
        <ul style="list-style-type:none;">
          <li>
              {% if method.methodbonus_set.all %}
              <a href="{% url methods-show-bonus method.published_at.year method.published_at.month method.published_at.day method.slug %}">
                <img style="float:right;margin-top:-1em;"
                     src="{% media_url "images/pedagogic-bonus.png" %}" />
              </a>
              {% endif %}
            <a href="{% url methods-show-method method.published_at.year method.published_at.month method.published_at.day method.slug %}">
              <h3>
                {{ method.title }}
              </h3>
            </a>

            {{ method.description|markdown:"autolink"|abstract }}

            {% get_comment_count for method as comment_count %}
            {% if comment_count %}
            <span><em>
              <a href="{% url methods-show-method method.published_at.year method.published_at.month method.published_at.day method.slug %}#comments">
              {% blocktrans count comment_count as cc %}
                1 comment.
                {% plural %}
                {{ cc }} comments.
              {% endblocktrans %}
              </a>
            </em></span>
            {% endif %}

            {% include "methods-meta.html" %}
          </li>
        </ul>
        {% else %}
        <p>
          <a href="{% url methods-create-method %}">{% trans "Go ahead, create the first method!" %}</a>
        </p>
        {% endif %}
        </div>

        <div class="span-8 last">
          {% if method.methodfile_set.all.0.image %}
          {% for m in method.methodfile_set.all %}
          {% if forloop.first %}
          <a class="method-thumb-zoom"
             href="{{ m.image.url }}"
             rel="thumb-group-{{ method.id }}">
            <img class="method-thumb"
                 src="{% thumbnail m.image 250x250 crop %}"
                 title="" />
          </a>
          {% else %}
          <a class="method-thumb-zoom"
             href="{{ m.image.url }}"
             rel="thumb-group-{{ method.id }}"></a>
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div id="frontpage-midsection">
    <div class="container">
      <div class="span-12" style="position:relative;">
        <h2 id="tip-author">{{ tips.0.user.get_profile.name }}</h2>
        <blockquote>
          <div id="bubblewrap">
            <p>{{ tips.0 }}</p>
          </div>
        </blockquote>
      </div>

      <div class="span-12 last">
        <h2>{% trans "Popular Tags" %}</h2>
        {% for tag in popular_tags %}
        <a class="popular-tag" href="#">
          {{ tag.name }}
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
