{% load i18n markup thumbnail %}
{% if preview %}
  <div id="preview-wrapper" class="span-18 append-3 prepend-3 last">
    <div class="separator">
      <h2>{% trans "Preview" %}</h2>
      <p>{% trans "Scroll down to edit or save your method" %}</p>
    </div>

    <div id="markdown-wrapper">
      <a><h2>{{ preview.title }}</h2></a>
      <section class="markdown">
        <h1>{% trans "Summary" %}</h1>
        {{ preview.description|markdown:"autolink" }}
      </section>
    </div>

    <div class="separator">
      <h2>{% trans "Preview only" %}</h2>
      <p>{% trans "Edit or save method below" %}</p>
    </div>
  </div>
{% endif %}
