{% load comments i18n %}
<form action="{% comment_form_target %}" method="post">
  {% csrf_token %}

  {% if next %}
  <input type="hidden" name="next" value="{{ next }}" />
  {% else %}
  {% if method %}
  <input type="hidden" name="next"
         value="{% url methods-show-method method.published_at.year method.published_at.month method.published_at.day method.slug %}#comments" />
  {% endif %}
  {% endif %}

  {% if form.non_field_errors %}
  <div class="span-15 last">
    {% for error in form.non_field_errors %}
    <p class="error">
      {{ error|escape }}
    </p>
    {% endfor %}
  </div>
  {% endif %}

  {% if not user.is_authenticated %}

  {% if form.name.errors %}
  <div class="span-13 append-2 last">
    {% for error in form.name.errors %}
    <p class="error">
      {{ error|escape }}
    </p>
    {% endfor %}
  </div>
  {% endif %}

  <div class="span-3">
    {{ form.name.label_tag }}
  </div>
  <div class="span-10 append-2 last">
    {{ form.name }}
  </div>

  {% if form.email.errors %}
  <div class="span-13 append-2 last">
    {% for error in form.email.errors %}
    <p class="error">
      {{ error|escape }}
    </p>
    {% endfor %}
  </div>
  {% endif %}

  <div class="span-3">
    {{ form.email.label_tag }}
  </div>
  <div class="span-10 append-2 last">
    {{ form.email }}
  </div>

  {% if form.url.errors %}
  <div class="span-13 append-2 last">
    {% for error in form.url.errors %}
    <p class="error">
      {{ error|escape }}
    </p>
    {% endfor %}
  </div>
  {% endif %}

  <div class="span-3">
    {{ form.url.label_tag }}
  </div>
  <div class="span-10 append-2 last">
    {{ form.url }}
  </div>
  {% endif %}

  {% if form.comment.errors %}
  <div class="span-13 append-2 last">
    {% for error in form.comment.errors %}
    <p class="error">
      {{ error|escape }}
    </p>
    {% endfor %}
  </div>
  {% endif %}

  <div class="span-3">
    {{ form.comment.label_tag }}
  </div>
  <div class="span-10 append-2 last">
    {{ form.comment }}
  </div>

  {% if form.lift_method.errors %}
  <div class="span-13 append-2 last">
    {% for error in form.lift_method.errors %}
    <p class="error">
      {{ error|escape }}
    </p>
    {% endfor %}
  </div>
  {% endif %}

  <div class="prepend-3 span-10 append-2 last">
    {% blocktrans %}
    With this comment, do you also want to lift this method
    to the top of the methods list?
    {% endblocktrans %}
    {{ form.lift_method }}
  </div>

  {{ form.content_type }}
  {{ form.object_pk }}
  {{ form.timestamp }}
  {{ form.security_hash }}

  <div class="prepend-top prepend-3 span-10 append-2 last align-right">
    <input type="submit" name="preview" value="{% trans "Preview" %}" />
    {% if not method and not form.errors %}
    <input type="submit" name="submit" value="{% trans "Submit" %}" />
    {% endif %}
  </div>
</form>
