{% extends "base-without-sidebar.html" %}
{% load i18n markup markitup_tags media taggit_extras thumbnail %}

{% block css %}
  {% include_media "edit-methods.css" media="screen, projection" %}
{% endblock %}

{% block javascript %}
  {% include_media "edit-methods.js" %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#delete-method').submit(function() {
        return confirm("{% trans "Really delete method?" %}");
      });
      $("h3.options").click(function() {
          $(this).next().toggle();
          $("#click-to-display").hide('fast');
          return false;
      });

      taggit = $("#id_method-tags").taggit({tag_selector:
                                            "#suggested-tags .taggit-tag"});
      var uploader = new qq.FileUploader({
          element: document.getElementById('file-uploader'),
          action: '{% url methods-upload-file method.slug %}',
          data: {
              csrfmiddlewaretoken : "{{ csrf_token }}"
          },
          template: '<div class="qq-uploader">' +
                    '<div class="qq-upload-drop-area"><span>{% trans "Drop files here to upload" %}</span></div>' +
                    '<div class="qq-upload-button rounded-6">{% trans "Upload an image" %}</div>' +
                    '<ul class="qq-upload-list"></ul>' +
                    '</div>',
          onComplete: function(id, fileName, responseJSON) {
            var listitem =
                "<li id=\"image-" + responseJSON.image_id + "\" " +
                     "class=\"rounded-6\">" +
                    "<a href=\"" + responseJSON.original_url + "\">" +
                         "<img class=\"rounded-3\" src=\"" +
                               responseJSON.thumbnail_url + "\" /></a>" +
                    "<a class=\"image-add\" href=\"" +
                        responseJSON.original_url + "\"></a>" +
                    "<a class=\"image-preview\" href=\"" +
                        responseJSON.original_url + "\"></a>" +
                    "<a id=\"delete-image-" + responseJSON.image_id + "\" " +
                        "class=\"image-delete\" href=\"#\"></a>" +
                "</li>";

            $("li#image-" + responseJSON.image_id + " a.image-preview").
                fancybox({"hideOnContentClick": true,
                          "margin": 14});
            $("#uploaded-media-list").append(listitem);
            $("#uploaded-media").show("slow");
          }
      });
      $("a.image-add").live("click", function() {
          $.markItUp({replaceWith: this.href});
          return false;
      });
      $("a.image-delete").live("click", function() {
          if (!confirm("{% trans "Delete image?" %}")) {
              return false;
          }
          var id_str = this.id + "";
          var match = id_str.match(/^delete-image-([0-9]+)/);
          if (match) {
              var image_id = match[1];
              $.ajax({
                  type: "POST",
                  url: "{% url methods-delete-file method.slug %}",
                  data: {"xhr": 1, "deleteimage": image_id},
                  dataType: "json",
                  timeout: 10000,
                  success: function(data, textStatus) {
                      $("#image-" + image_id).hide();
                      return true;
                  },
                  error: function(xhr, textStatus, errorThrown) {
                      if (xhr.status !== 304) {
                          alert("fail!");
                      }
                  }
              });
          }
          return false;
      });
      $("a.image-preview").live("click", function() {
          $.fancybox({"hideOnContentClick": true,
                            "margin": 14,
                            "href": $(this).attr('href')});
          return false;
      });
      $("#uploaded-media li").live("mouseover mouseout", function(event) {
          if (event.type === "mouseover") {
              $(this).children(".image-preview,.image-delete,.image-add").show();
          } else {
              $(this).children(".image-preview,.image-delete,.image-add").hide();
          }
      });
      $("#preview img").each(function() {
          $(this).fancybox({"hideOnContentClick": true,
                            "type": "image",
                            "href": this.src,
                            "margin": 14});
      });
    });
  </script>
{% endblock %}

{% block main %}
  {% include "methods-preview.html" %}

  <div class="method span-18 prepend-3 append-3 last">
    <h2>{% trans "Edit away!" %}</h2>
    {% include "methods-markdown-quick-help.html" %}
  </div>

  <div class="method span-18 prepend-3 append-3 last">
    <div class="column box rounded-9">
      <form id="method-form"
            action="{% url methods-edit-method method.slug %}"
            method="post"
            autocomplete="off">
        {% csrf_token %}

        <fieldset>
          {% if form.title.errors %}
          <div class="span-18 last">
            {% for error in form.title.errors %}
            <p class="error">
              {{ error|escape }}
            </p>
            {% endfor %}
          </div>
          {% endif %}

          <div class="span-18 last{% if form.title.errors %} loud{% endif %}">
            {{ form.title.label_tag }}
          </div>
          {{ form.title }}
        </fieldset>

        <fieldset>
          {% if form.description.errors %}
          <div class="span-18 last">
            {% for error in form.description.errors %}
            <p class="error">
              {{ error|escape }}
            </p>
            {% endfor %}
          </div>
          {% endif %}

          <div class="span-18 last{% if form.description.errors %} loud{% endif %}">
            {{ form.description.label_tag }}
          </div>
          {{ form.description }}
        </fieldset>

        {% if method.status == "PUBLISHED" %}
        <fieldset>
          {% if form.editor_comment.errors %}
          <div class="span-18 last">
            {% for error in form.editor_comment.errors %}
            <p class="error">
              {{ error|escape }}
            </p>
            {% endfor %}
          </div>
          {% endif %}

          <div class="span-18 last{% if form.editor_comment.errors %} loud{% endif %}">
            {{ form.editor_comment.label_tag }}
          </div>
          {{ form.editor_comment }}
        </fieldset>
        {% else %}
        {{ form.editor_comment.as_hidden }}
        {% endif %}

        <div id="uploaded-media" class="span-18 last"
             style="margin-top:0.5em;">
          <ul id="uploaded-media-list">
          {% for image in images %}
          <li id="image-{{ image.id }}" class="rounded-6">
            <a href="{{ image.image.url }}">
              <img class="rounded-3" src="{% thumbnail image.image 50x50 %}"
                   title="{{ image.image.size }}"/>
            </a>
            <a class="image-add" href="{{ image.image.url }}"></a>
            <a class="image-preview" href="{{ image.image.url }}"></a>
            <a id="delete-image-{{ image.id }}" class="image-delete"
               href="#"></a>
          </li>
          {% endfor %}
          </ul>
          {% comment %}
          <p>{% blocktrans %}
            Hover over an image and click the plus sign to add the image
            where you've placed the cursor in the text.
          {% endblocktrans %}</p>
          {% endcomment %}
        </div>

        <div id="file-uploader" class="span-4 append-14 last">
          <noscript>
            <p>Please enable JavaScript to use file uploader.</p>
            <!-- or put a simple form for upload here -->
          </noscript>
        </div>

        <h2>{% trans "Optional settings" %}</h2>
        <div id="click-to-display">{% trans "Click to display." %}</div>
        <h3 class="span-18 last options rounded-6">
          {% trans "Tags" %}
        </h3>
        <fieldset{% if not form.tags.errors %} style="display:none;"{% endif %}>
          {% if form.tags.errors %}
          <div class="span-18 last">
            {% for error in form.tags.errors %}
            <p class="error">
              {{ error|escape }}
            </p>
            {% endfor %}
          </div>
          {% endif %}
          {{ form.tags }}

          <div class="span-18 last">
            <h4>{% trans "Suggested tags:" %}</h4>
            <div id="suggested-tags">
              {% for title, tags in suggested_tags %}
              <p>
                <strong>{{ title }}:</strong>
                {% for tag in tags %}
                <span class="taggit-tag">{{ tag }}</span>
                {% endfor %}
              </p>
              {% endfor %}
            </div>
          </div>
        </fieldset>

        <div class="span-18 prepend-top last align-right append-bottom">
          <input class="submit" type="submit" name="preview"
                 value="{% trans "Preview" %}" />
          <input class="submit" type="submit" name="method"
                 value="{% trans "Save" %}" />
        </div>
      </form>

      <hr />
      {% include "methods-meta.html" %}

      {% ifequal method.status "DRAFT" %}
      <form class="inline" method="post"
            action="{% url methods-edit-method method.slug %}">
        {% csrf_token %}
        <input class="submit" type="submit" name="publish"
               value="{% trans "Publish method" %}" />
      </form>
      {% endifequal %}

      <form class="inline" method="post" id="delete-method"
            action="{% url methods-edit-method method.slug %}">
        {% csrf_token %}
        <input class="submit" type="submit" name="delete"
               value="{% trans "Delete method" %}" />
      </form>
    </div>
  </div>
{% endblock %}
