{% extends "base-with-sidebar.html" %}
{% load comments i18n markup media thumbnail %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#bonus img").each(function() {
          $(this).fancybox({"hideOnContentClick": true,
                            "type": "image",
                            "href": this.src,
                            "margin": 14});
      });
    });
  </script>
{% endblock %}

{% block main %}
  <img style="float:right;margin-top:-2em;"
       src="{% media_url "images/pedagogic-bonus.png" %}" />
  <h2>
    {% trans "Good method" %}:
    <em>
      <a href="{% url methods-show-method method.published_at.year method.published_at.month method.published_at.day method.slug %}">
        {{ method.title }}
      </a>
    </em>
  </h2>
  <div id="bonus">
    {% for bonus in bonuses %}
    {{ bonus.description|markdown:"autolink" }}
    {% include "methods-bonus-meta.html" %}
    {% endfor %}
  </div>
{% endblock %}
