{% extends "base-without-sidebar.html" %}
{% load i18n markup markitup_tags media taggit_extras thumbnail %}

{% block css %}
  {% include_media "edit-methods.css" media="screen, projection" %}
{% endblock %}

{% block javascript %}
  {% include_media "edit-methods.js" %}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#id_method-tags").taggit({tag_selector: "#suggested-tags .taggit-tag"});

      $(".qq-upload-button").hover(function() {
         $(this).addClass("qq-upload-button-hover");
      }, function() {
          $(this).removeClass("qq-upload-button-hover");
      });
      $(".qq-upload-button").click(function() {
          $(this).replaceWith("<em>{% trans "Add images after submitting your method (sorry...)" %}</em>");
          $("#file-uploader").delay(5000).hide('slow');
      });
      $("#preview img").each(function() {
          $(this).fancybox({"hideOnContentClick": true,
                            "type": "image",
                            "href": this.src,
                            "margin": 14});
      });
      $("h3.options").click(function() {
          $(this).next().toggle();
          return false;
      });
    });
  </script>
{% endblock %}
{% block main %}
  {% include "methods-preview.html" %}

  <div class="method span-18 prepend-3 append-3 last">
    <h2>{% trans "Start writing!" %}</h2>
    {% include "methods-markdown-quick-help.html" %}
  </div>

  <div class="method span-18 prepend-3 append-3 last">
  <div class="column box rounded-9">
    <form id="method-form"
          action="{% url methods-create-method %}"
          method="post"
          autocomplete="off">
      {% csrf_token %}

      {% if form.title.errors %}
      <div class="span-18 last">
        {% for error in form.title.errors %}
        <p class="error">
          <strong>{{ error|escape }}</strong>
        </p>
        {% endfor %}
      </div>
      {% endif %}
      <div class="span-18 last{% if form.title.errors %} loud{% endif %}">
        {{ form.title.label_tag }}
      </div>
      <div class="span-18 last">
        {{ form.title }}
      </div>

      {% if form.description.errors %}
      <div class="span-18 last">
        {% for error in form.description.errors %}
        <p class="error">
          <strong>{{ error|escape }}</strong>
        </p>
        {% endfor %}
      </div>
      {% endif %}
      <div class="span-18 last{% if form.title.errors %} loud{% endif %}">
        {{ form.description.label_tag }}
      </div>
      <div class="span-18 last append-bottom">
        {{ form.description }}
      </div>

      <h2>{% trans "Optional settings" %}</h2>
      <h3 class="span-18 last options rounded-6">
        {% trans "Tags" %}
      </h3>
      <div class="span-18 last" style="display:none;">
        <div class="span-18 last">
          {{ form.tags }}
        </div>
        {% if form.tags.errors %}
        <p class="error">
          {{ form.tags.errors }}
        </p>
        {% endif %}

        <div class="span-18 last">
          <h4>{% trans "Suggested tags:" %}</h4>
          <div id="suggested-tags">
            {% for title, tags in suggested_tags %}
            <p>
              <strong>{{ title }}:</strong>
              {% for tag in tags %}
              <span class="taggit-tag">{{ tag }}</span>
              {% endfor %}
            </p>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="span-18 prepend-top last align-right append-bottom">
        <input class="submit" type="submit" name="preview"
               value="{% trans "Preview" %}" />
        <input class="submit" type="submit" name="method"
               value="{% trans "Create" %}" />
      </div>
    </form>

    <div id="file-uploader" class="span-18 last">
      <div class="qq-uploader">
        <p class="qq-upload-button">
            {% trans "Upload an image" %}
        </p>
      </div>
    </div>
  </div>
  </div>
{% endblock %}