{% load i18n markup thumbnail %}
{% if preview %}
  <div id="preview-wrapper" class="span-18 append-3 prepend-3 last">
    <div class="separator">
      <h2>{% trans "Bonus preview" %}</h2>
      <p>{% trans "Scroll down to edit or save your bonus" %}</p>
    </div>

    <a>
      <h2>
        <span>{% trans "Good method" %}:</span>
        {{ method.title }}
      </h2>
    </a>

    <div id="markdown-wrapper">
      <section class="markdown">
        {{ preview.description|markdown:"autolink" }}
      </section>
    </div>

    <div class="separator">
      <h2>{% trans "Preview only" %}</h2>
      <p>{% trans "Edit or save bonus below" %}</p>
    </div>
  </div>
{% endif %}
