{% extends "base-with-sidebar.html" %}
{% load comments i18n markup media methods thumbnail %}
{% block main %}
  <h2>
    {{ methods.count }} {% trans "methods tagged with" %}
    <em>{{ tag.name }}</em>
  </h2>

  <ul class="no-markers" style="padding-left:0;">
    {% for method in methods %}
    <li>
      {% if method.methodbonus_set.published %}
      <a href="{% url methods-show-bonus method.published_at.year method.published_at.month method.published_at.day method.slug %}">
        <img class="right"
             src="{% media_url "images/pedagogic-bonus-badge.png" %}" />
      </a>
      {% endif %}
      <h3>
        <a href="{% url methods-show-method method.published_at.year method.published_at.month method.published_at.day method.slug %}">
          {{ method.title }}
        </a>
      </h3>
      {% if method.methodfile_set.all.0.image %}
      <img class="rounded-3 left"
           src="{% thumbnail method.methodfile_set.all.0.image 25x25 crop %}"
           title=""
           style="border:2px solid #bbb;margin-right:0.5em;" />
      {% endif %}
      {{ method.description|markdown:"autolink"|abstract }}

      {% get_comment_count for method as comment_count %}
      {% if comment_count %}
      <span><em>
        <a href="{% url methods-show-method method.published_at.year method.published_at.month method.published_at.day method.slug %}#comments">
        {% blocktrans count comment_count as cc %}
          1 comment.
          {% plural %}
          {{ cc }} comments.
        {% endblocktrans %}
        </a>
      </em></span>
      {% endif %}
      {% include "methods-meta.html" %}
      <hr />
    </li>
    {% endfor %}
  </ul>
{% endblock %}