{% extends "base-with-sidebar.html" %}
{% load comments i18n markup media methods taggit_extras thumbnail %}
{% block javascript %}
<script type="text/javascript">
  $(document).ready(function() {
    $("a.method-thumb-zoom").fancybox({"hideOnContentClick": true,
                                       "type": "image",
                                       "href": this.src,
                                       "margin": 14});
  });
</script>
{% endblock %}

{% block main %}
  <h2>{{ methods.count }} {% trans "Methods and best practices" %}</h2>
  {% if suggested_tags %}
  <ul class="no-markers" style="padding-left:0;">
    {% for title, tags in suggested_tags %}
    <li>
      <strong style="margin-right:0.5em;">{{ title }}:</strong>
      {% for tag in tags %}
      <a style="margin-right:0.5em;"
         href="{% url methods-tag-index tag.slug %}">{{ tag.name }}</a>
      {% endfor %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if methods %}
  <ul id="method-index" style="clear:left;">
    {% for method in methods %}
    <li>
      {% include "methods-listitem.html" %}
      {% include "methods-meta.html" %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>
    <a href="{% url methods-create-method %}">{% trans "Go ahead, create the first method!" %}</a>
  </p>
  {% endif %}
{% endblock %}
