{% extends "base-with-sidebar.html" %}
{% load i18n thumbnail %}
{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
    });
  </script>
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block main %}
  <h2>{% trans "Create an account" %}</h2>

  <form action="" method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="span-10 append-8 last">
      {{ form.non_field_errors }}
    </div>
    {% endif %}

    <div class="span-10 append-8 last">
      {% if form.username.errors %}
      {% for error in form.username.errors %}
      <p class="error"><strong>{{ error|escape }}</strong></p>
      {% endfor %}
      {% endif %}
      <div class="span-4">
        {{ form.username.label_tag }}
      </div>
      <div class="span-6 last">
        {{ form.username }}
      </div>
    </div>

    <div class="span-10 append-8 last">
      {% if form.email.errors %}
      {% for error in form.email.errors %}
      <p class="error"><strong>{{ error|escape }}</strong></p>
      {% endfor %}
      {% endif %}
      <div class="span-4">
        {{ form.email.label_tag }}
      </div>
      <div class="span-6 last">
        {{ form.email }}
      </div>
    </div>

    <div class="span-10 append-8 last">
      {% if form.password1.errors %}
      {% for error in form.password1.errors %}
      <p class="error"><strong>{{ error|escape }}</strong></p>
      {% endfor %}
      {% endif %}
      <div class="span-4">
        {{ form.password1.label_tag }}
      </div>
      <div class="span-6 last">
        {{ form.password1 }}
      </div>
    </div>

    <input type="submit" value="Create the account">
  </form>
{% endblock %}
